<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>NavBar</title>
</head>
<body>
    <div class="nav">
        <div class="rows">
            <a id="index" href="/"><img src="pond.png"></a>
            <a id="trips" href="/trips">TRIPS</a>
            <a id="dates" href="/dates"> DATES</a>
        </div>
    </div>
</body>
</html>