<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/trips-planning.css">
    <title>Trips in Planning</title>
</head>
<body>
    <%- include('navbar.ejs')%>
    <div class="planning">
        <div class="title">
            <h2> Trips in Planning</h2>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th>Destination</th>
                    <th>Mode of Transport</th>
                    <th>Accomodation</th>
                    <th>Activities</th>
                    <th>Dates</th>
                </tr>
                <tr>
                    <td>Fuseta</td>
                    <td>Carro do Diogo</td>
                    <td>AL</td>
                    <td>Por planear</td>
                    <td> 25/07-10/08/2024</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>